<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
<!--        <File name="LogToFile" fileName="logs/app.log">-->
<!--            <PatternLayout>-->
<!--                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
<!--            </PatternLayout>-->
<!--        </File>-->
<!--        <File name="LogToFile1" fileName="logs/app1.log">-->
<!--            <PatternLayout>-->
<!--                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
<!--            </PatternLayout>-->
<!--        </File>-->
<!--        <File name="LogToFile2" fileName="logs/app2.log">-->
<!--            <PatternLayout>-->
<!--                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
<!--            </PatternLayout>-->
<!--        </File>-->
    </Appenders>
    <Loggers>
<!--        <Logger name="com.example.demospringbootall" level="debug" additivity="false">-->
<!--            <AppenderRef ref="LogToFile1"/>-->
<!--        </Logger>-->

<!--        <Logger name="org.springframework.boot" level="debug" additivity="false">-->
<!--            <AppenderRef ref="LogToFile2"/>-->
<!--        </Logger>-->

        <Root level="warn">
<!--            <AppenderRef ref="LogToFile"/>-->
            <AppenderRef ref="LogToConsole"/>
        </Root>

    </Loggers>
</Configuration>